<div>
    <ul class="pagination pagination-lg">
        <li *ngFor="#pageNumber of pages" [class.active]="pageNumber==currentPage"><a (click)="goTo(pageNumber)">{{pageNumber}}</a></li>
    </ul>
</div>
