<div class="container">
    <form
        [ngFormModel]="topicFormGroup"
        (ngSubmit)="submit(topicFormGroup.value)">
        <div class="form-group has-feedback"
             [class.has-error]="!topicFormGroup.controls['title'].valid && topicFormGroup.controls['title'].touched">
            <label for="title">Title</label>
            <input id="title"
                   class="form-control"
                   autocomplete="off"
                   #title="ngForm"
                   [ngFormControl]="topicFormGroup.controls['title']">
            <span *ngIf="!title.control.valid && title.control.touched" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div
                *ngIf="title.control.hasError('required') && title.control.touched"
                class="alert alert-danger">
                <p>This field is required.</p>
            </div>
        </div>

        <div class="form-group has-feedback"
            [class.has-error]="!topicFormGroup.controls['content'].valid && topicFormGroup.controls['content'].touched">
            <label for="content">Content</label>
            <textarea id="content"
                      class="form-control"
                      #content="ngForm"
                      [ngFormControl]="topicFormGroup.controls['content']"></textarea>
            <span *ngIf="!content.control.valid && content.control.touched" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div
                    *ngIf="content.control.hasError('required') && content.control.touched"
                    class="alert alert-danger">
                <p>This field is required.</p>
            </div>
        </div>

        <!--<button class="btn btn-default" (click)="addPost(title, message)">Add Post</button>-->
        <button class="btn btn-default" type="submit">Add Post</button>
    </form>
</div>