<div class="container">
    <!--<h3 class="text-muted">{{title}}</h3>-->
    <div class="masthead">
        <nav>
            <ul class="nav nav-justified">
                <li [class.active]="isRouteActive('./List')">
                    <a [routerLink]="['./List']">Home</a>
                </li>
                <li [class.active]="isRouteActive('./Add')">
                    <a [routerLink]="['./Add']">Add</a>
                </li>
                <li [class.active]="isRouteActive('./About')">
                    <a [routerLink]="['./About']">About</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
