<div>
	<div class="jumbotron text-center">
		<h1>Booble</h1>
		<form class="form-inline">
			<input (input)="userSearch($event.target.value)" type="text" class="form-control" autocomplete="off" size="50" placeholder="Search...">
		</form>
	</div>

	<div *ngFor='#topic of pagedItems?.Items' class="panel panel-primary" (click)='onSelect(topic)'>
		<div class="panel-heading">{{topic.Title}}</div>
		<div class="panel-body">{{topic.Content.length > 300 ? topic.Content.substring(0, 300) + '...' : topic.Content}}</div>
	</div>

	<!-- Pager -->
	<pagination
		*ngIf="pagedItems"
		[currentPage]="currentPage"
		[totalItems]="pagedItems?.Total"
		[maxPageSize]="maxPageSize"
		(pageChanged)="goToPage($event)"></pagination>
</div>