<div *ngIf="topic">
	<h2>{{topic.Title}}</h2>
	<div>
		<label>Date: </label>{{topic.Date}}</div>
	<div>
		<label>content: </label>
		{{topic.Content}}
		<!--<input [(ng-model)]="topic.content" placeholder="content"/>-->
	</div>
	<button (click)="goBack()" class="btn btn-primary">Back</button>
	<button (click)="goBack()" class="btn btn-danger">Edit</button>
</div>